
body{
    margin: 0;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: url('https:source.unsplash.com/random/?computer,typeing');
    background-size: cover;
    text-align: center;
}

h1{
    color: white;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}


.btn{
    padding: 10px 20px;
    width: 200px;
    cursor: pointer;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.btn:hover{
    filter: brightness(0.8);
}

.active.container{
    filter: blur(5px) brightness(0.7);
}

.popup-container{
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    background-color:white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    height: 200px;
    background: url('https:source.unsplash.com/random/?computers');
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

h4{
    font-size: 30px;
    margin: 10px  0;
    font-family: sans-serif;
    color: blueviolet;
}

label{
    color: blueviolet;
    font-family: sans-serif;
}

.popup-btn{
background-color: orangered;
padding: 10px;
font-size: 20px;
cursor: pointer;
border: 2px solid;
}
.input{
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}

.input::placeholder{
    color: lightgray;
}

.close-icon{
    position: absolute;
    right: 20px;
    cursor: pointer;
}

.close-icon:hover{
    color: red;
}

.active.popup-container{
    visibility: hidden;
}